pipeline/pipeline2.json
{
	"name": "pipeline2",
	"properties": {
		"activities": [
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://uscold.atlassian.net/rest/agile/latest/board?projectKeyOrId=PFD",
					"method": "GET",
					"authentication": {
						"type": "Basic",
						"username": "aboinepalli@uscold.com",
						"password": {
							"type": "SecureString",
							"value": "**********"
						}
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Web1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Web1').output.values",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Web2",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "@concat('https://uscold.atlassian.net/rest/agile/1.0/board/',item().id,'/sprint?startAt=90&maxResults=1000')",
									"type": "Expression"
								},
								"method": "GET",
								"authentication": {
									"type": "Basic",
									"username": "aboinepalli@uscold.com",
									"password": {
										"type": "SecureString",
										"value": "**********"
									}
								}
							}
						},
						{
							"name": "Filter1",
							"type": "Filter",
							"dependsOn": [
								{
									"activity": "Web2",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"items": {
									"value": "@activity('Web2').output.values",
									"type": "Expression"
								},
								"condition": {
									"value": "@and(\ngreaterOrEquals(\nitem().startDate,\npipeline().parameters.fromdate\n),\nlessOrEquals(\nitem().endDate,\npipeline().parameters.todate\n)\n)",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"fromdate": {
				"type": "string"
			},
			"todate": {
				"type": "string"
			}
		},
		"folder": {
			"name": "task2"
		},
		"annotations": [],
		"lastPublishTime": "2021-07-22T12:26:36Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}